@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Coiny&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #051c2e;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  
}

header h1{
  font-family: "Coiny",'Times New Roman', Times, serif;
}

li, a, button{
  font-family: "Montserrat",'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 6px -6px #777;
}

.logo{
  cursor:pointer;
  flex: 2 1 400px;
  display: flex;
  align-items: center;
}

body header section.logo h1 {
  font-size: 2.5rem;
  color: #edf0f1;
}

.logo img{
  width: 6vw;
  height: 6vw;
}
.nav_links {
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition:all 0.3s ease 0s;
  padding-top: 0.3rem;
}

.nav_links li a:hover{
  color: #5E7FB7;
  border-bottom: 3px solid #5E7FB7;
}

.logout{
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: block;
}

.logout button{
  margin-left: 24px;
  padding: 9px 25px;
  background-color: #5E7FB7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition:all 0.3s ease 0s;
}

.logout button:hover{
  background-color: #4a6b99;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #edf0f1;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 11;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 700px) {
    .nav_links {
        display: none;
        flex-direction: column;
        background-color: #051c2e;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: left;
        padding: 1rem 0;
        z-index: 10;
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    }

    .hamburger {
        display: block; /* Show hamburger on small screens */
    }

    /* Show Log Out when menu is active */
    .show_logout {
        display: block;
    }

    /* SHOW MENU WHEN ACTIVE */
    .nav_active {
        display: flex;
    }

    .logout.nav_active {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
    }
}